.dart_tool/
.build/
.fvm/
.idea/
.venv/
.vscode/
.github/
build/
logs/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
rise_together.iml
.DS_Store
*.log
test_logs/
.symlinks/
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

*.iml
*.ipr
*.iws
.idea/

*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
.swiftpm/
.kotlin/
migrate_working_dir/

app.*.symbols
app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx
